 
 @import '../css/blocks/media.scss';
 @import '../css/layout/*.scss';


.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: black;

  @include phone {
    flex-direction: column;
  }

}

.container {
  position: relative;
  height: 70%;
  border: 10px solid rgba(108, 4, 243, .1);
  flex: 1;
  display: flex;
  align-items: center;
  
  &:first-child {
    border-right: 0;
  }

  @include phone {
    width: 100%;
    border: none;
  }
}

.chocco {
  width: 100%;
  height: 100%;
  opacity: 0;
  justify-content: center;
  transition: 1s;
  z-index: 1;
  background: url('../img/Chocco1.jpg') center center no-repeat;
  background-size: cover;

  &:hover {
    opacity: 1;
  }

  @include tablets {
    opacity: 1;
    // transform: scale3d(1, 1, 1);
    // animation: pulse;
  }
}

.workadium {
  @extend .chocco ;
  background: url('../img/Workadium.png') center center no-repeat;
}

.container .active {
  opacity: 1;
}

span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  text-transform: uppercase;
  opacity: .5;
  animation: flash 2s  infinite;
}

// @keyframes pulse {
//   from {
//     transform: scale3d(1, 1, 1);
//   }

//   50% {
//     transform: scale3d(1.05, 1.05, 1.05);
//   }

//   to {
//     transform: scale3d(1.5, 1.5, 1.5);
//   }
// }

@keyframes flash {
  from,
  50%,
  to {
    opacity: .5;
  }

  25%,
  75% {
    opacity: .2;
  }
}
